body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.book-filter{
  display: initial;
  margin-top: 7px;
  margin-left: 10px;
}

.books{
    margin-top: 50px;
}
.book-item{
    max-height: 300px;
    background-color: white;
    cursor: pointer;
}
.book-item picture{
    width: 100%;
}

.book-item picture img{
    width: 100%;
    height: 90%;
}

.book-item .basic-information{
    padding-bottom: 5px;
    height: 10%;
    display: grid;
    border: solid 0.5px #bfbfbf;
    border-radius: 0.5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.book-item .basic-information > *{
    margin-left: 7px;
    
}